<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Posts</title>
  </head>
  <body>
    <h2>All Posts</h2>
    <br>
    <% @posts.each do |post|%>
    <h3><%= post.name %></h3>
    <h4><%= post.content %></h4>
    <% end %>
  </body>
</html>
