<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Your Post</title>
  </head>
  <body>
    <h2>Click on the button to delete this post</h2>
    Name: <%= @post.name %>

    <p>Content: <%= @post.content %></p>
    <br>
    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete" id="hidden">
      <input type="submit" name="submit" value="delete">
    </form>
  </body>
</html>
